.container__filterName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formNameProduct {
    padding-top: 1.5em;
    width: min(90%, 700px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.formNameProduct__item {
    width: 80%;
}

.formNameProduct__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5em 0.3em;
    box-shadow: 0 1px 3px #17181ccc;
    border-radius: 0.5em;
}

.formNameProduct__input::placeholder {
    font-size: 0.8em;
}

.formNameProduct__btn {
    padding: 0.5em 0.9em;
    border: none;
    background-color: #3264fb;
    color: #EAEBED;
    box-shadow: 0 1px 3px #17181ccc;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 300ms all;

}

.formNameProduct__btn:active {
    transform: scale(0.90);
}

@media screen and (min-width: 720px) {
    .container__filterName {
        position: relative;
        padding: 2em 0;
        width: 100%;
    }

    .formNameProduct {
        position: absolute;
        top: 0.9em;
        right: 4em;
        width: 60%;
        justify-content: end;
    }

    .formNameProduct__input {
        width: 95%;
        border: none;
        outline: none;
        padding: 1em 1em;
    }

    .formNameProduct__btn {
        padding: 0.9em 2em;
        border: none;
        background-color: #3264fb;
        color: #EAEBED;
    }

    .formNameProduct__btn i {
        font-size: 1.3em;
    }

}